h1{
    text-align: center;
}
.szoveg{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    text-indent: 30px;
    text-align: justify;
}
#hivatkozas:hover{
    background-color: rgb(86, 208, 245);
}
.kepek{
    font-size: 50px;
}